<ion-header>
  <ion-navbar color="cesium">
    <ion-title text-center>Cartão Académico</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <!--<div class="card" *ngIf="item && name=='Toda a Informação'">
          <ion-thumbnail *ngIf="item.photo">
              <img class="imagem" [src]="item.photo">
          </ion-thumbnail>
          <div class="container">
            <p>
              <b>Nome: </b> {{item.nome}}
            </p>
            <p>
              <b>Número Mecanográfico: </b> {{item.numero}}
            </p>
            <p>
              <b>Idade: </b> {{item.idade}}
            </p>
            <p>
              <b>Género: </b> {{item.genero}}
            </p>
            <p>
              <ion-thumbnail *ngIf="item.logo">
                <img class="imagem" [src]="item.logo">
              </ion-thumbnail>
            </p>
            <p>
              <b>Instituição: </b> {{item.instituicao}}
            </p>
            <p>
              <b>Sub-unidade: </b> {{item.subuni}}
            </p>
            <p>
              <b>Função:</b> {{item.funcao}}
            </p>
          </div>
    </div>  
    <div class="card" *ngIf="item && name=='Idade'">
      <div class="container">
        <div style="padding: 20px">
          <p>
            <b>Idade: </b> {{item.idade}}
          </p>
        </div>
      </div>
    </div>
    <div class="card" *ngIf="item && name=='Instituição'">
      <div class="container">
        <div style="padding: 20px">
          <p>
            <b>Instituição: </b> {{item.instituicao}}
          </p>
        </div>
      </div>
    </div>-->
</ion-content>

